<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Some Vue App</title>

    <link rel="stylesheet" href="/assets/styles.css" />
    <script src="/node_modules/vue/dist/vue.js"></script>
  </head>
  <body>
    <main>
      <div class="wrapper" id="app">
        <h1>Alpaca Generator</h1>
        <div class="alpaca">
          <div class="alpaca__menu">
            <div class="alpaca__preview">
              <img v-for="item in Object.keys(options)"
              v-bind:src=`/assets/alpaca/${item}/${options[item][0]}.png`
              :ref=item alt="" />
            </div>
            <div class="alpaca__actions">
              <button id="random">Random</button>
              <button id="download">Download</button>
            </div>
          </div>
          <div class="alpaca__options">
            <h2>Accessorize the Alpaca</h2>
            <div class="alpaca__item">
              <!-- 
                Only one option for nose
              -->
              <button
                v-for="item in Object.keys(options)"
                v-if="(item !== 'nose')" 
                v-bind:class="{clicked: item === selection}"
                @click="selection = item"
              >
                {{ item }}
              </button>
            </div>

            <h2>Style</h2>
            <div class="alpaca__style">
              <button
                v-for="style in options[selection]"
                @click="updateImageSource(style)"
              >
                {{ style }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="/index.js"></script>
  </body>
</html>
