<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Some Vue App</title>

    <link rel="stylesheet" href="/assets/styles.css" />
    <script src="/node_modules/vue/dist/vue.js"></script>
  </head>
  <body>
    <main>
      <div class="wrapper" id="app">
        <h1>Alpaca Generator</h1>
        <div class="alpaca">
          <div class="alpaca__menu">
            <div class="alpaca__preview">
              <img
                src="/assets/alpaca/backgrounds/darkblue70.png"
                alt=""
                class="background"
              />
              <img src="/assets/alpaca/neck/default.png" alt="" class="neck" />
              <img src="/assets/alpaca/leg/default.png" alt="" class="leg" />
              <img src="/assets/alpaca/ears/default.png" alt="" class="ears" />
              <img src="/assets/alpaca/hair/default.png" alt="" class="hair" />
              <img src="/assets/alpaca/eyes/default.png" alt="" class="eyes" />
              <img
                src="/assets/alpaca/accessories/headphone.png"
                alt=""
                class="accessories"
              />
              <img
                src="/assets/alpaca/mouth/default.png"
                alt=""
                class="mouth"
              />
              <img src="/assets/alpaca/nose.png" alt="" class="nose" />
            </div>
            <div class="alpaca__actions">
              <button id="random">Random</button>
              <button id="download">Download</button>
            </div>
          </div>
          <div class="alpaca__options">
            <h2>Accessorize the Alpaca</h2>
            <div class="alpaca__item">
              <button
                v-for="item in Object.keys(options)"
                v-bind:class="{clicked: item === marker}"
                @click="marker = item"
              >
                {{ item }}
              </button>
            </div>

            <h2>Style</h2>
            <div class="alpaca__style">
              <button v-for="style in options[marker]">{{ style }}</button>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="/index.js"></script>
  </body>
</html>
