@import url("/node_modules/normalize.css/normalize.css");

$clr-bg: blue;
$wl: 20rem;
$wr: 25rem;
$text: white;

%flex {
  display: flex;
}

main {
  min-height: 100vh;
  background: #ccc;

  font-family: sans-serif;
}

main,
.alpaca,
.alpaca__menu,
.alpaca__actions {
  @extend %flex;
}

h1,
h2 {
  text-transform: uppercase;
}

.wrapper {
  margin: auto;
}

.alpaca {
  flex-wrap: wrap;
  gap: 2rem;
}

@media screen and (max-width: 670px) {
  .wrapper {
    padding-inline: calc((100vw - 20rem) / 2);
  }

  .alpaca {
    gap: 2rem 0;
  }
}

.alpaca__menu {
  flex-direction: column;
  gap: 0.5rem;
}

.alpaca__preview {
  width: $wl;
  aspect-ratio: 1;

  position: relative;

  img {
    position: absolute;
    max-width: 100%;
  }
}

.alpaca__actions {
  justify-content: space-between;

  button {
    @extend %flex;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem 2rem;
    border: none;
    outline: none;

    &::before {
      width: 1.2rem;
      margin-right: 0.2rem;
    }

    &#random::before {
      content: url(/assets/icons/random.svg);
    }

    &#download::before {
      content: url(/assets/icons/download.svg);
    }
  }
}

.alpaca__options {
  :not(div + h2) {
    margin-top: 0;
  }

  button {
    border-radius: 2rem;
    color: $clr-bg;
    border: thin solid $clr-bg;
    background: none;
    padding: 0.5rem 2rem;

    cursor: pointer;

    &.clicked {
      background: $clr-bg;
      color: $text;
    }
  }
}

.alpaca__item,
.alpaca__style {
  width: $wr;

  button {
    text-transform: capitalize;
    margin: 0 .5rem .2rem 0;
  }
}

.alpaca__style {
  height: 120px;
}
